* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
header {
  width: 100vh;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
}

.overlay-text {
  display: none;
  width: 80vh;
  height: 60vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-items: center;
  align-items: center;

  z-index: 100;
  /* background-color: rgba(0, 0, 0, 0.4); */
  padding: 30px;
  border-radius: 10px;
  color: white;
  font-size: 1.5em;
  text-align: center;
}
.overlay-text.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}
#start-game {
  margin-top: 20px;
  padding: 5px;
  font-size: 1.1rem;
}
#category {
  padding: 5px;
  font-size: 1.1rem;
}
@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(240, 166, 223, 0.8);
    font-size: 2rem;
  }
}
#grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;
}
.card-container {
  perspective: 1000px;
}
.card {
  width: 150px;
  height: 175px;
  position: relative;
  transition: transform 0.5s ease, box-shadow 0.3s ease, border 0.3s ease;
  transform-style: preserve-3d;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card img,
.card .word {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  border-radius: 8px;
}

.front {
  transform: rotateY(180deg);
}
.back {
  transform: rotateY(0deg);
}
.card.isFlipped {
  transform: rotateY(180deg);
  border: 2px solid #333;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.card:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.1);
}
.card.isFlipped:hover {
  transform: rotateY(180deg) scale(1.1);
}
.word {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 600px) {
  body {
    background-color: #d3d3d3;
    height: auto;
    padding: 20px;
  }
  #grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
  }
  .card {
    width: 100px;
    height: 130px;
    font-size: 0.8rem;
  }
  .card img,
  .card.word {
    width: 100%;
    height: 100%;
  }
}
